footer
{
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: currentColor;
}
footer a
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
footer a:first-of-type::after
{
    content: " | ";
    margin: 5px auto;
    text-align: center;
}
